$set-prefix: '' , -moz- , -webkit-, -o-;

@mixin setPrefix($name, $value) {
    @each $prefix in $set-prefix {
        #{$prefix}#{$name}: $value;
    }
}

// include another .scss file from a sub-directory
@import './components/card.scss';
@import './components/button.scss';
@import './components/header.scss';
@import './components/list.scss';
@import './components/form.scss';
@import './components/box.scss';
@import './components/table.scss';
@import './components/code.scss';
@import './components/dialog.scss';
@import './components/pagination.scss';
@import './components/calendar.scss';
@import './components/drawer.scss';
@import './components/badge.scss';
@import './components/iphone-mockup.scss';
@import './components/fluffy-viewer.scss';
@import './components/fluffy-tabs.scss';

body {
  color: #353535;
  background-color: #F6F9FC;
  font-family: 'Open Sans';
}

a {
  color: #0091EA;
  text-decoration: none;
  @include setPrefix(transition, all .15s ease-in-out);

  &:hover {
    color: #01579B;
    text-decoration: none;
  }
}

.logo {
  font-family: 'Coda';
  font-size: 24px;
  text-decoration: none;
  color: #555;
}

.logo-icon {
  height: 18px;
  width: 18px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: maroon;
  display: inline-block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bc1ee8+0,0fb4e7+100 */
  background: rgb(188,30,232); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(188,30,232,1) 0%, rgba(15,180,231,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(188,30,232,1) 0%,rgba(15,180,231,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(188,30,232,1) 0%,rgba(15,180,231,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc1ee8', endColorstr='#0fb4e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.fixed-content {
  position: relative;
}
@media screen and (min-width:1200px) {
  .fixed-content {
    position: fixed;
    top: 66px;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
  }
}
[data-hash-content] {
  display: none;
}

.card-body {
  background-color: #f9f9f9;
}

.card .card {
  .card-body {
    background-color: #fff;
  }
}

.alert {
  position: relative;

  &.borderless {
    border-radius: 0px !important;
    border: none;
  }
}
