.fluffy-viewer{
  font-size: 0;

  img {
    display: inline-block;
  }

  .fv-image {
    display: inline-block;
    padding: 4px;
    position: relative;
    cursor: pointer;
    user-select: none;

    .fv-image-overlay {
      position: absolute;
      top: 4px;
      right: 4px;
      bottom: 4px;
      left: 4px;
      background-color: rgba(0,0,0,.65);
      opacity: 0;
      @include setPrefix(transition, all .15s ease-in-out);

      &:hover {
          opacity: 1;
      }

      .icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-size: 32px;
        line-height: 32px;
        color: #fff;
      }
    }

    img {
      width: 100% !important;
    }
  }
}
.fv-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.95);
  z-index: 1500;
  opacity: 0;
  display: none;
  white-space: nowrap;

  &.visible {
    opacity: 1;
    display: block;
    animation: show-fv-modal .5s;
  }

  .fv-image {
    display: inline-block;
    padding: 4px;
    position: relative;
    cursor: pointer;
    user-select: none;
    position: absolute;
    width: 35% !important;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;
    @include setPrefix(transition, all .1s ease-out);
    opacity: 0;

    @media screen and (max-width:800px) {
      width: 80% !important;
    }

    &.current {
      left: 50%;
      opacity: 1;
    }

    &.prev {
      left: 40%;
    }

    &.next {
      left: 60%;
    }

    .fv-image-overlay {
      display: none;
    }

    img {
      width: 100% !important;
      height: 84vh;
      object-fit: scale-down;
    }
  }

  .fv-nav {
    .fv-nav-next {
      position: absolute;
      top: 50%;
      padding: 50vh 60px;
      right: 22.5%;
      transform: translateY(-50%);
      z-index: 150;
      cursor: pointer;

      .icon {
        font-size: 50px;
        color: #fff;
        margin: 0;
      }

      @media screen and (max-width:800px) {
        right: 0;
        padding: 50vh 8px;

        .icon {
          font-size: 36px;
        }
      }

      &.disable {
        opacity: 0.35;
        cursor: default;
      }
    }

    .fv-nav-prev {
      position: absolute;
      top: 50%;
      padding: 50vh 60px;
      left: 22.5%;
      transform: translateY(-50%);
      z-index: 150;
      cursor: pointer;

      .icon {
        font-size: 50px;
        color: #fff;
        margin: 0;
      }

      @media screen and (max-width:800px) {
        left: 0;
        padding: 50vh 8px;

        .icon {
          font-size: 36px;
        }
      }

      &.disable {
        opacity: 0.35;
        cursor: default;
      }
    }

    .fv-nav-display {
      position: fixed;
      color: #fff;
      font-size: 16px;
      letter-spacing: 2px;
      bottom: 0;
      line-height: 5vh;
      left: 50%;
      transform: translateX(-50%);
    }

    .fv-nav-close {
      position: absolute;
      top: 5%;
      line-height: 40px;
      right: 10%;
      color: #fff;
      display: block;
      z-index: 1500;
      cursor: pointer;

      @media screen and (max-width:800px) {
        top: 5%;
        right: 16px;
      }
    }
  }
}

@keyframes show-fv-modal {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
