.btn, .btn-block {
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,.375), 0px 0px 0px rgba(0,0,0,.18);
  padding: 6px 16px;
  border: none;
  margin-bottom: 8px;
  font-weight: 200;
  letter-spacing: 1px;
  @include setPrefix(border-radius, 3px);
  @include setPrefix(transition, all .15s ease-in-out);

  &:hover, &:focus, &:active {
    outline: none !important;
    border: none;
  }

  &:hover {
    box-shadow: 1px 3px 10px rgba(0,0,0,.45), 0px 0px 0px rgba(0,0,0,.24);
  }

  &:focus, &:active {
    opacity: 0.8;
  }

  &.red {
    background-color: #F44336;
    color: #fff;
  }
  &.blue {
    background-color: #2196F3;
    color: #fff;
  }
  &.green {
    background-color: #4CB050;
    color: #fff;
  }
  &.orange {
    background-color: #FF9800;
    color: #fff;
  }
  &.purple {
    background-color: #9C27B0;
    color: #fff;
  }
  &.pink {
    background-color: #FF4EC2;
    color: #fff;
  }
  &.dark {
    background-color: #353535;
    color: #fff;
  }
  &.black {
    background-color: #000;
    color: #fff;
  }

  &.outline {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid transparent;

    &:hover, &:focus, &:active {
      outline: none !important;
      border: 1px solid transparent;
      color: #fff !important;
    }

    &:hover {
      box-shadow: none;
    }

    &:focus, &:active {
      opacity: 1;
    }

    &.red {
      border-color: #F44336;
      color: #F44336;

      &:hover, &:focus, &:active {
        outline: none !important;
        background-color: #F44336;
      }
    }
    &.blue {
      border-color: #2196F3;
      color: #2196F3;

      &:hover, &:focus, &:active {
        outline: none !important;
        background-color: #2196F3;
      }
    }
    &.green {
      border-color: #4CB050;
      color: #4CB050;

      &:hover, &:focus, &:active {
        outline: none !important;
        background-color: #4CB050;
      }
    }
    &.orange {
      border-color: #FF9800;
      color: #FF9800;

      &:hover, &:focus, &:active {
        outline: none !important;
        background-color: #FF9800;
      }
    }
    &.purple {
      border-color: #9C27B0;
      color: #9C27B0;

      &:hover, &:focus, &:active {
        outline: none !important;
        background-color: #9C27B0;
      }
    }
    &.pink {
      border-color: #FF4EC2;
      color: #FF4EC2;

      &:hover, &:focus, &:active {
        outline: none !important;
        background-color: #FF4EC2;
      }
    }
    &.dark {
      border-color: #353535;
      color: #353535;

      &:hover, &:focus, &:active {
        outline: none !important;
        background-color: #353535;
      }
    }
    &.black {
      border-color: #000;
      color: #000;

      &:hover, &:focus, &:active {
        outline: none !important;
        background-color: #000;
      }
    }
  }

  &.flat {
    box-shadow: none;
    border: 1px solid transparent;

    &:hover, &:focus, &:active {
      outline: none !important;
      opacity: 0.8;
    }

    &:hover {
      box-shadow: none;
    }

    &:focus, &:active {
      opacity: 1;
    }
  }
}

.btn-block {
  display: block;
}

.alert-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
