.drawer {
  position: fixed;
  top: 50px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  z-index: 49;
  @include setPrefix(overflow-scrolling, touch);
  left: 240px;
  width: 240px;

  @media screen and (max-width:400px) {
    left: -72vw;
    width: 72vw;
  }

  &.dark {
    background-color: #333;
    color: #fff;

    .list-item {
      border-color: #242424;
      color: #e5e5e5;
    }
  }

  &.open {
    left: 0px;
    -webkit-box-shadow: 1px 0 4px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 0 4px rgba(0,0,0,.3);
    -o-box-shadow: 1px 0 4px rgba(0,0,0,.3);
    box-shadow: 1px 0 4px rgba(0,0,0,.3);
    @include setPrefix(animation, show-drawer .5s);

    .drawer-close-btn {
      display: block;
    }
  }

  .drawer-close-btn {
    position: absolute;
    right: -36px;
    top: 0px;
    color: #fff;
    font-size: 20px;
    padding: 8px;
    display: none;

    .icon {
      margin: 0;
    }
  }
}

.drawer-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 45;
  opacity: 0;
  background-color: rgba(0,0,0,.3);
  @include setPrefix(transition, all .2s ease-out);

  &.active {
    opacity: 1;
  }
}

@keyframes show-drawer {
  0% {
    left: -72vw;
  }

  50% {
    left: -5vw;
  }

  100% {
    left: 0vw;
  }
}
